<header class="header">
  <div class="header-content">
    <div class="logo">
      <a href="#">
        <img src="/Images/crafty-studio-logo-dark.webp" alt="Logo">
      </a>
    </div>
    <div class="header-text">
      Remembered your password?
      <a routerLink="/signin">Sign In</a>
    </div>
  </div>
</header>

<main class="main-content">
  <div class="cloud left-content">
    <h1>Password Reset</h1>
    <p>Enter your new password and confirm it to reset your account password.</p>
  </div>

  <div class="sign-up-form">
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" method="post">
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input
          class="input-field"
          [class.error]="resetPasswordForm.controls['newPassword'].dirty && resetPasswordForm.hasError('required', 'newPassword')"
          formControlName="newPassword"
          type="password"
          id="newPassword"
          name="newPassword"
          required
        />

        <ng-container *ngIf="resetPasswordForm.controls['newPassword'].dirty">
          @if (resetPasswordForm.hasError('required', 'newPassword')) {
            <small class="text-danger">*Password is required</small>
          }
        </ng-container>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input
          class="input-field"
          [class.error]="resetPasswordForm.controls['confirmPassword'].dirty &&
                         (resetPasswordForm.hasError('required', 'confirmPassword') ||
                          resetPasswordForm.controls['confirmPassword'].value !== resetPasswordForm.controls['newPassword'].value)"
          formControlName="confirmPassword"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />

        <ng-container *ngIf="resetPasswordForm.controls['confirmPassword'].dirty">
          @if (resetPasswordForm.hasError('required', 'confirmPassword')) {
            <small class="text-danger">*Confirm password is required</small>
          }
          @if (resetPasswordForm.controls['confirmPassword'].value !== resetPasswordForm.controls['newPassword'].value) {
            <small class="text-danger">*Passwords do not match</small>
          }
        </ng-container>
      </div>

      <button (click)="reset()" type="submit">Reset Password</button>
    </form>
  </div>
</main>

<footer class="footer">
  <p>&copy; All rights reserved.</p>
</footer>
