/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: sans-serif, "Helvetica Neue"; }
.user-tooltip {
  background-color: #333 !important;
  color: white !important;
  font-size: 12px !important;
  border-radius: 4px;
  padding: 8px 12px;
}